header{
    background-color: orange;
    font-size: 125%;
}
#wall{
    background-image:url(Image/hv.png);
    background-repeat: no-repeat;
    background-position-x: center;
    font-size: 525%;
}
#wall p {color:red;}
footer{
    background-color: orange;
}