.lang li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.nav-item{
    color: rgb(39, 231, 14);
}
.book-a-table-click{
    font-size: 13px;
    margin: 0 0 0 15px;
    border: 2px solid #cda45e;
    color: rgb(39, 231, 14);
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 8px 25px;
    transition: 0.3s;
}
/* section .row{
    margin-top: 110px;
} */
