body{
    margin: 62px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
}
.bar{
    width: 100%;
    background-color: bisque;
    height: 25px;
}
.bar1200px{
    width: 1200px;
    margin: auto;
    background-color: bisque;
}
.hotline{
    float: left;
    width: 357px;
    background-color: bisque;
    padding-top: 1.3px;
    padding-left: 3px;
    font-size: 125%;
}
.bar1{
    float: right;
    width: 840px;
    background-color: bisque;
}
.bar1 div{
    float: right;
    background-color: bisque;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: blueviolet;
}
.menu{
    width: 100%;
    background-color: blueviolet;
    height: 37px;
}
.menu1200px{
    width: 1200px;
    background-color: blueviolet;
    margin: auto;
    height: 37px;
}
.clear{
    clear:both;
}
.logo{
    width: 360px;
    float: left;
}
.logo img{
    height: 30px;
    float: left;
    background-color: blueviolet;
    padding-top: 3.5px;
}
.logo1{
    background-color: blueviolet;
    float: left;
    padding-top: 9.7px;
}
}
.menu1{
    float: right;
    background-color: blueviolet;
    width: 840px;
}
.menu1{
    float: right;
    padding-top: 9.7px;
    padding-right: 10px;
}
.menu a{
    color: yellow;
}
section{
    width: 1200px;
    margin: auto;
}
.banner-img, .banner-img img{
    width: 700px;
    height: 600px;
    float: left;
}
.mua{
    float: right;
    width: 500px;
    height: 600px;
}
/* .mua a{
    font-size: 200%;
    color: black;
    padding-left: 5px;
} */
.trenduoi{
    float: right;
    height: 300px;
    width: 500px;
}
.xhtd{
    float: right;
    background-color: white;
    height: 287px;
    width: 237px;
    border: solid black 1.5px;
    margin: 5px;
    position: relative;
}
.xhtd img{
    width: 237px;
    height: 200px;
}
.xhtd div{
    float: top;
}
.xhtd1{
    width: 237px;
    background-color: blanchedalmond;
    text-align: center;
}
.xhtd2{
    padding: 3px;
}
.hot{
    position: absolute;
    top: 15px;
    left: 15px;
    color: red;
    font-size: 30px;
    font:bold;
}
.tt{
    font-size: 125%;
}
.ttn1{
    float: left;
    width: 228px;
    height: 388px;
    background-color: sienna;
    border: black 1px solid;
    margin: 5px;
}
.ttn1 div{
    float: top;
}
.ttn img{
    width: 228px;
    height: 285px;
}
/* .ttn1 a{
    padding-left: 5px;
    font-size: 125%;
} */
.ttn1a{
    width: 228px;
    background-color: blanchedalmond;
    text-align: center;
}
.ttn1b{
    padding: 3px;
}
footer{
    width: 1200px;
    margin: auto;
}
#cskh{
    position: fixed;
    bottom: 0;
    right: 0;
    right: 25px;
    background-color: rgb(55, 55, 214);
    padding: 5px;
    border: black 2px solid;
}